{% extends 'app_pintagram/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <p>Author: <a href="{% url 'user-details' post.author_id %}">{{ post.author }}</a></p>

    <p>Created: {{ post.creation_datetime|date:"Y/m/d H:i:s" }}</p>

    <img src="{{ post.photo.url }}" alt="Here should be user profile pic">

    <p>Thumbs up: {{ post.thumbs_up }}  Thumbs down: {{ post.thumbs_down }}</p>

    {% if post.description %}
        <p>Description: {{ post.description }}</p>
    {% endif %}

    <button type="button">
        <a href="{% url 'post-update' post.pk %}">Update post</a>
    </button>

    <button type="button">
        <a href="{% url 'post-delete' post.pk %}">Delete post</a>
    </button>
    
    <h4>Comments:</h4>
    {% for comment in comments %}
        <div>
            <p>
                <a href="{% url 'user-details' comment.author_id %}">{{ comment.author }}</a> on {{ comment.creation_datetime|date:"Y/m/d H:i:s" }}
            </p>
            <p>{{ comment.content }}</p>
        </div>
        <button type="button">
            <a href="{% url 'comment-delete' comment.pk %}">Delete comment</a>
        </button>
    {% endfor %}

    <h4>Comment:</h4>
    <form method="post">
        {% csrf_token %}
            {{ form|crispy }}
        <input type="submit" value="Post comment">
    </form>

{% endblock content %}
