{% extends 'app_pintagram/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

    <p>Author: <a href="{% url 'user-details' post.author_id %}">{{ post.author }}</a></p>

    <p>Created: {{ post.creation_datetime|date:"Y/m/d H:i:s" }}</p>

    <img src="{{ post.photo.url }}" alt="Here should be post pic">

    <p>
        <i class="fas fa-thumbs-up" data-user-id="{{ user.id }}" data-post-id="{{ post.id }}" data-is-liked="{{ is_post_liked }}"></i>
        <span>{{ post.thumbs_up }}</span>
{#        <i class="fas fa-thumbs-down"></i> {{ post.thumbs_down }}#}
    </p>

    {% if post.description %}
        <p>Description: {{ post.description }}</p>
    {% endif %}

    {% if post.author == user %}
        <button type="button">
            <a href="{% url 'post-update' post.pk %}">Update post</a>
        </button>
        <button type="button">
            <a href="{% url 'post-delete' post.pk %}">Delete post</a>
        </button>
    {% endif %}

    <h4>Comments:</h4>
    {% for comment in comments %}
        <fieldset class="col-md-6">
            <div class="panel panel-default">
                <legend>
                    <a href="{% url 'user-details' comment.author_id %}">{{ comment.author }}</a> on {{ comment.creation_datetime|date:"Y/m/d H:i:s" }}
                </legend>
                <p>{{ comment.content }}</p>
                {% if comment.author == user %}
                    <button type="button">
                        <a href="{% url 'comment-delete' comment.pk %}">Delete comment</a>
                    </button>
                {% endif %}
            </div>
        </fieldset>
    {% endfor %}

    <h4>Add comment:</h4>
    <form method="post">
        {% csrf_token %}
            {{ form|crispy }}
        <input type="submit" value="Post comment">
    </form>

{% endblock content %}
