{% extends 'app_pintagram/base.html' %}
{% load app_pintagram.extras %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <h4>User {{ user_details.username }} information:</h4>
            <div>
                <img class="article-content img-profile" src="{{ user_details.profile_photo.url }}" alt="Here should be post's photo"><br>
                <small class="text-muted">{{ user_details.email }}</small>
            </div>

            {% if user_details == user %}
                <a class="btn btn-outline-info" href="{% url 'user-update' user_details.pk %}">Update information about you</a>
                <a class="btn btn-outline-danger" href="{% url 'user-delete' user_details.pk %}">Delete account</a>
            {% endif %}
        </div>
    </article>

    <h4>User's posts:</h4>
    {% for post in user_details_posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-details' post.author_id %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.creation_datetime|date:"Y/m/d H:i:s" }}</small>
                </div>
                <a href="{% url 'post-details' post.pk %}">
                    <img class="article-content img-list" src="{{ post.photo.url }}" alt="Here should be post's photo">
                </a>
                <p><span>Likes: {{ post|likes_count }}</span> <span>Comments: {{ post|comments_count }}</span></p>
                <p class="article-content">{{ post.description }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content %}
