{% extends 'app_pintagram/base.html' %}

{% block content %}

    <h4>User {{ user_details.username }} information:</h4>

    <img  class="rounded-circle account-image" src="{{ user_details.profile_photo.url }}" alt="Here should be user profile pic">

    <p>Email: {{ user_details.email }}</p>

    {% if user_details.first_name %}
        <p>First name: {{ user_details.first_name }}</p>
    {% endif %}

    {% if user_details.last_name %}
        <p>Last name: {{ user_details.last_name }}</p>
    {% endif %}
    
    {% if user_details == user %}
        <button type="button">
            <a href="{% url 'user-update' user_details.pk %}">Update information about you</a>
        </button>
        <button type="button">
            <a href="{% url 'user-delete' user_details.pk %}">Delete account</a>
        </button>
    {% endif %}

    <h4>User's posts:</h4>
    {% for post in user_details_posts %}
        <fieldset>
            <p><a href="{% url 'user-details' post.author_id %}">{{ post.author }}</a> on {{ post.creation_datetime|date:"Y/m/d H:i:s" }}</p>
            <p>
                <a href="{% url 'post-details' post.pk %}">
                    <img class="img-list" src="{{ post.photo.url }}" alt="Here should be post's photo">
                </a>
            </p>
        </fieldset>
    {% endfor %}

{% endblock content %}
